body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-star,
.fa-star-o {
  font-size: 1.5rem;
  color: red;
}

.clickable {
  cursor: pointer;
}

.journalCard {
  white-space: pre-line;
  overflow-wrap: break-word;
}

table {
  table-layout: fixed;
}

.alert-success {
  margin-top: -1rem;
}
